body{
    font-family: Averia Serif Libre;
    color:#7E1518;



}

p{
  color: white;
  font-family: Averia Serif Libre;
  font-size: 16px;
  font-weight: 600;
    
}

h1,h2,h3,h4,h5,h6{
  font-family: Averia Serif Libre;
}

h2{
    font-weight: 900 !important;
}
@media screen and (max-width: 768px) {
  .f45{
    font-size: 35px;
   
  }

  

  .h1080{
    height: 300px;
  }


.navbar-nav.gap5 {
  gap: 0px !important;
}

}

